<ion-header>
  <ion-navbar>
    <ion-title>公众交通</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top color="platform">
    <ion-searchbar placeholder="搜地点、查公交、找线路" (ionInput)="filterItems($event)"></ion-searchbar>
    <ion-list>
      <button ion-item (click)="openItem(item)" *ngFor="let item of currentItems">
        <h2>{{item.name}}</h2>
        <p>{{item.about}}</p>
        <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
      </button>
    </ion-list>
  </ion-toolbar>

</ion-header>
<ion-content>
  <div #map_container class="map_container" id="map_container"></div>
  <div class="btn-group">
    <button ion-button small (click)="locate()">
      <i class="iconfont icon-shangban" color="primary"></i>
    </button>
    <button ion-button small>
      <ion-icon name="home"></ion-icon>
    </button>
  </div>
</ion-content>
<ion-footer text-center>

</ion-footer>
