<ion-header>
  <ion-navbar>
    <ion-title>
      实时公交
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <div *ngIf="!hasData" text-center>
    <p>暂无信息</p>
  </div>
  <ion-grid>
    <ion-list>

      <ion-item *ngFor="let item of getBuss(); let i = index">
        <div class="box">
          <div>
            <h2>{{item.busline}} 第{{item.order}}辆</h2>
            <p>{{item.busStop}}</p>
            <h2 *ngIf="nowStation">距离本站还有{{item.stationCount}}站</h2>
            <p>还有{{item.distance}}米到达下一站：{{item.nextStation}}</p>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>
