<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>交通信息</ion-title>
  </ion-navbar>

  <!--<ion-toolbar no-border-top color="platform">-->
    <!--<ion-searchbar placeholder="" (ionInput)="filterItems($event)"></ion-searchbar>-->
    <!--<ion-list>-->
      <!--<button ion-item (click)="openItem(item)" *ngFor="let item of currentItems">-->
        <!--<h2>{{item.name}}</h2>-->
        <!--<p>{{item.about}}</p>-->
        <!--<ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>-->
      <!--</button>-->
    <!--</ion-list>-->
  <!--</ion-toolbar>-->

</ion-header>
<ion-content>
  <div #map_container class="map_container" id="map_container"></div>
  <div class="btn-group">
    <button ion-button small (click)="taxi()">
      <i class="iconfont icon-chuzuchetianchong"></i>
    </button>
    <button ion-button small (click)="bicycle()">
      <i class="iconfont icon-zixingche"></i>
    </button>
    <button ion-button small (click)="information()">
      <i class="iconfont icon-shigongzhong"></i>
    </button>
    <button ion-button small (click)="yizhan()">
      <i class="iconfont icon-yizhan"></i>
    </button>
  </div>


</ion-content>
<ion-footer *ngIf="pointFlag">
  <div style="padding: 5px 10px">
    <span class="plate">{{info.name}}</span>
    <span>{{info.detail}}</span>
  </div>
  <!--<img class="route" (click)="showRoutePage()" src="../assets/imgs/route.png">-->
</ion-footer>
