<ion-header>
    <ion-navbar no-border-bottom hideBackButton="true">
      <ion-buttons left>
        <button ion-button icon-only (click)="goBack()">
          <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>信息服务</ion-title>
    </ion-navbar>


  <!--<ion-toolbar no-border-top color="platform">-->
    <!--<ion-searchbar placeholder="搜地点、查公交、找线路" (ionInput)="filterItems($event)"></ion-searchbar>-->
    <!--<ion-list>-->
      <!--<button ion-item (click)="openItem(item)" *ngFor="let item of currentItems">-->
        <!--<h2>{{item.name}}</h2>-->
        <!--<p>{{item.about}}</p>-->
        <!--<ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>-->
      <!--</button>-->
    <!--</ion-list>-->
  <!--</ion-toolbar>-->

</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="./assets/imgs/plan.png">
      </ion-thumbnail>
      <h2>交通规划信息公示</h2>
      <button ion-button clear item-end (click)="plan()">查看</button>
    </ion-item>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="./assets/imgs/building.png">
      </ion-thumbnail>
      <h2>道路施工阻断信息</h2>
      <button ion-button clear item-end (click)="construction()">查看</button>
    </ion-item>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="./assets/imgs/weather.png">
      </ion-thumbnail>
      <h2>天气信息</h2>
      <button ion-button clear item-end (click)="weather()">查看</button>
    </ion-item>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="./assets/imgs/tour.png">
      </ion-thumbnail>
      <h2>旅游信息</h2>
      <button ion-button clear item-end (click)="tour()">查看</button>
    </ion-item>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="./assets/imgs/bus.png">
      </ion-thumbnail>
      <h2>实时公交信息</h2>
      <button ion-button clear item-end (click)="bus()">查看</button>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer text-center>

</ion-footer>
